id ICON "artwork/fontforge-icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,1,0
PRODUCTVERSION  1,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Jeremy Tan"
      VALUE "FileDescription", "FontForge"
      VALUE "FileVersion", "1.1"
      VALUE "InternalName", "run_fontforge"
      VALUE "LegalCopyright", ""
      VALUE "OriginalFilename", "run_fontforge.exe"
      VALUE "ProductName", "FontForge"
      VALUE "ProductVersion", "1.1"
    END
  END
END
