debugging/
work/
original-archives/binaries/*
original-archives/sources/*
ReleasePackage/bin/*
ReleasePackage/lib/
ReleasePackage/share/
ReleasePackage/VERSION.txt
fontforge-setup/*.exe

.pacman-installed
log*.txt
run_fontforge.exe