debugging/
debugging-symbols/.debug/
work/
target/
original-archives/binaries/*
original-archives/sources/*
ReleasePackage/bin/*
ReleasePackage/lib/
ReleasePackage/share/
ReleasePackage/VERSION.txt
fontforge-setup/*.exe
ui-fonts/*

.pacman-installed
log*.txt
run_fontforge.exe