archive/
debugging/
debugging-symbols/.debug/
work/
target/
original-archives/binaries/*
original-archives/sources/*
ReleasePackage/bin/*
ReleasePackage/lib/
ReleasePackage/share/
ReleasePackage/VERSION.txt
ReleasePackage/ffdebugscript.txt
ReleasePackage/fontforge-debug.bat
fontforge-setup/*.exe
ui-fonts/*
patches/*.aps

.building-mingw32
.building-mingw64
.building-gdk
.pacman-mingw32-installed
.pacman-mingw64-installed
log*.txt
run_fontforge.exe